.top{
    height: 40px;
    background-color: #f4483e;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.top img:nth-child(1){
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 15px;
}
.top h3{
    color: #ffffff;
}
.top img:nth-child(3){
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6px;
    right: 15px;
}

.ticket{
    margin: 10px;

}
.ticket-box{
    width: 28%;
    height: 100px;
    border: 1px solid #000;
    float: left;
    margin: 5px 8px;
    text-align: center;
}
.ticket-img{
    width: 50px;
    height: 50px;
    margin: 5px auto ;
}
.ticket-img img{
    width: 100%;
    height: 100%;
}
.return{
    height: 30px;
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
    line-height: 30px;
}
.return p a {
    font-size: 10px;
}